.figure {
	position: absolute;
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('https://www.apple.com/v/home/bd/images/heroes/macbook-air-15/hero_macbook_air_15_midnight__ct0pgwizvree_large_2x.jpg');
}